PORT=8000




CLOUDINARY CLOUD_NAME="";
CLOUDINARY API_KEY="";
CLOUDINARY API_SECRET="";




ACCESS_TOKEN_SECRET="Own token Insert";
ACCESS_TOKEN_EXPIRY=1d;
REFRESH_TOKEN_SECRET="Own token insert";
EFRESH_TOKEN_EXPIRY=10d;



MONGODB_URI=mongodb+srv://vanshakumar:<Enter-User-Password>@avinash.w2h1l7m.mongodb.net;
CORS_ORIGIN=*;
